
@font-face {
    font-family: "minnie";
    src: url("C:/Users/Usuario/Downloads/Minnie.TTF");
  }
  @font-face {
    font-family: "rubik";
    src: url("C:/Users/Usuario/Downloads/static/Rubik-Light.ttf");
  }

  
  body {
    font-family: "rubik";
    background-image:url("./imagenes/1279273.jpg");
    background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
  }
  

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #F2E217;
    font-size: 64px;
    font-family: "minnie";
}

.subtitulo {
    color: white;
    font-size: 34px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 20px;

}

.tarjeta-de-mokepon {
    width: 207px;
    height: 182px;
    background: #FFC6D3;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tarjeta-de-mokepon img {
    width: 119px;
    height: 62%;
}

#boton-mascota {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid lightpink;
    margin-top: 20px;
    color: white;
    font-family: "rubik";
    font-weight: 600;
}

.tarjeta-de-mokepon:hover {
    scale: 1.2;
    margin: 7px;
}


input {
    display:none
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: lightpink;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;    
    border-color: transparent;
    width: 100px;
    font-family: "rubik";
    font-weight: 600;
}

.boton-de-ataque:hover {
    scale: 1.2;
    margin: 5px;
}

#mensajes {
    width: 230px;
    background: hotpink;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    border: none;
    color: #B3005E;
    font-family: "rubik";
    font-weight: 600;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-ememigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
}